<header-component tagline="首页"></header-component>

<section class="main-content">

    <h3><a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>说明</h3>
    <p>本项目是由ng2-first-table升级，N4=>NG5，文档同ng2-first-table，项目地址：https://github.com/wangraoji/ng2-first-table</p>
    
    <p>如果你有时间：</p>
    <ul>
        <li>可以关注我们的： <a href="https://github.com/wangraoji/ngx-first-table" target="_blank">GitHub</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul>
    <!-- <div style="position: relative;">
        <basic-example-data></basic-example-data>
    </div>

    <h3><a id="features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>特征</h3>
    <ul class="homeUl">
        <li>本地数据源（Server / API DataSource正在进行中）</li>
        <li>首行过滤</li>
        <li>当前页排序</li>
        <li>客戶端分页</li>
        <li>单元行 单击/双击/复选框勾选 事件  <a class='targetUrl' href="./#/examples/clickEvent">点击跳转查看</a></li>
        <li>隔行换色/自定义点击背景色   <a class='targetUrl' href="./#/examples/ghhs">点击跳转查看</a></li>
        <li>工具栏 - 增删改</li>
        <li>工具栏 - 汇总 <a class='targetUrl' href="./#/examples/huizong">点击跳转查看</a></li>
        <li>工具栏 - 自定义设置 - 设置行高、选中行查看明细、选中行拖动、开启编辑（双击单元格进行编辑）</li>
        <li>工具栏 - 表格列显示隐藏</li>
        <li>工具栏 - 表格列编辑  <a class='targetUrl' href="./#/examples/customEditingColumns">点击跳转查看</a></li>
    </ul>

    <h3><a id="support" class="anchor" href="#support" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>我怎么能支持你们？</h3>

    <p>如果你有时间：</p>
    <ul>
        <li>可以关注我们的： <a href="https://github.com/wangraoji/ng2-first-table" target="_blank">GitHub</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul> -->
</section>
