<nav onselectstart="return false">
    <ul>
        <!-- 增删改存 -->
        <li *ngIf='toolData.toolAdd.isShow' [className]='toolData.toolAdd.liClass'>
            <span *ngIf="!toolData.toolAdd.confirmAdd" [innerHTML]='toolData.toolAdd.toolAddContent'></span>
            <span *ngIf="toolData.toolAdd.confirmAdd" [innerHTML]='toolData.toolAdd.toolAddContent' (click)="toolAdd($event)"></span>
        </li>
        <li *ngIf='toolData.toolEdit.isShow' [className]='toolData.toolEdit.liClass'>
            <span *ngIf="!toolData.toolEdit.confirmEdit" [innerHTML]='toolData.toolEdit.toolEditContent'></span>
            <span *ngIf="toolData.toolEdit.confirmEdit" [innerHTML]='toolData.toolEdit.toolEditContent' (click)="toolEditFn($event)"></span>
        </li>
        <li *ngIf='toolData.toolDelete.isShow' [className]='toolData.toolDelete.liClass'>
            <span *ngIf="!toolData.toolDelete.confirmDelete" [innerHTML]='toolData.toolDelete.toolDeleteContent'></span>
            <span *ngIf="toolData.toolDelete.confirmDelete" [innerHTML]='toolData.toolDelete.toolDeleteContent' (click)="toolDeleteFn($event)"></span>
        </li>
        <li *ngIf='toolData.toolSave.isShow' [className]='toolData.toolSave.liClass'>
            <span *ngIf="!toolData.toolSave.confirmSave" [innerHTML]='toolData.toolSave.toolSaveContent'></span>
            <span *ngIf="toolData.toolSave.confirmSave" [innerHTML]='toolData.toolSave.toolSaveContent' (click)="toolSaveFn($event)"></span>
        </li>
        <li *ngIf='toolData.toolCancel.isShow' [className]='toolData.toolCancel.liClass'>
            <span *ngIf="!toolData.toolCancel.confirmCancel" [innerHTML]='toolData.toolCancel.toolCancelContent'></span>
            <span *ngIf="toolData.toolCancel.confirmCancel" [innerHTML]='toolData.toolCancel.toolCancelContent' (click)="toolCancelFn($event)"></span>
        </li>
        <!-- 导出 -->
        <li lang="exportExcel" *ngIf='toolData.exportExcel.isShow' [className]='toolData.exportExcel.liClass'>
            <a [innerHTML]='toolData.exportExcel.exportExcelContent' (click)='exportExcelFn.emit($event)' target="_black"></a>
        </li>
        <!-- 汇总 -->
        <li lang="common" *ngIf='toolData.summary.isShow'>
            <span (click)="summaryTgc(summary)">汇总<em class="topIcon" #summary></em></span>
            <ul class="summaryUl" *ngIf="summarytgc">
                <li *ngIf='toolData.summary.toolSubtotal.isShow' [className]='toolData.summary.toolSubtotal.liClass'>
                    <label>
                        <span><input type="checkbox" (change)="toolSubtotal.emit($event)" [(ngModel)]='trToolSubtotalIsShow'></span>
                        <span [innerHTML]='toolData.summary.toolSubtotal.toolSubtotalContent'></span>
                    </label>
                </li>
                <li *ngIf='toolData.summary.toolTotal.isShow' [className]='toolData.summary.toolTotal.liClass'>
                    <label>
                        <span><input type="checkbox" (change)="toolTotal.emit($event)" [(ngModel)]="trToolTotalIsShow"></span>
                        <span [innerHTML]="toolData.summary.toolTotal.toolTotalContent"></span>
                    </label>
                </li>
            </ul>
        </li>
        <!-- 工具栏-自定义行设置 -->
        <li lang="common" *ngIf='toolData.columnRowSetting.isShow'>
            <span (click)="setStyleTgc(setStyle)">自定义设置<em class="topIcon" #setStyle></em></span>
            <ul class="summaryUl" *ngIf="setStyletgc">
                <li *ngIf='toolData.columnRowSetting.setTrHieht.isShow'>
                    <input type="text" placeholder='{{toolData.columnRowSetting.setTrHieht.default}}' (keyup)='setTrHeiht($event)'>
                    <span [innerHTML]="toolData.columnRowSetting.setTrHieht.setTrHiehtContent"></span>
                </li>
                <li *ngIf='toolData.columnRowSetting.setTrMove.isShow'>
                    <label>
                        <span><input type="checkbox" (change)='onIsDrop($event)' [(ngModel)]="toIsDrop"></span>
                        <span [innerHTML]="toolData.columnRowSetting.setTrMove.setTrMoveContent" title="选中行拖动"></span>
                    </label>
                </li>
                <li *ngIf='toolData.columnRowSetting.details.isShow'>
                    <label>
                        <span><input type="checkbox" (change)='lookDetails($event)' [(ngModel)]="isAllowToInsert"></span>
                        <span [innerHTML]="toolData.columnRowSetting.details.detailsContent" title="选中行查看明细"></span>
                    </label>
                </li>
                <li *ngIf='toolData.columnRowSetting.editCell.isShow'>
                    <label>
                        <span><input type="checkbox" (change)="editCellFn($event)" [(ngModel)]="isEditCell"></span>
                        <span [innerHTML]="toolData.columnRowSetting.editCell.editCellContent" title="双击单元格编辑"></span>
                    </label>
                </li>
            </ul>
        </li>
        <!-- 表格列-显示隐藏 -->
        <li lang="common" *ngIf='toolData.columnsShowOrHide.isShow'>
            <span (click)="onShowOrHide(showOrHide)">表格列显示隐藏<em class="topIcon" #showOrHide></em></span>
            <ul class="summaryUl" *ngIf="colShowHide">
                <li *ngFor="let cell of grid.getColumns()">
                    <label>
                        <span><input type="checkbox" [(ngModel)]="!cell.settings.isHide" (change)="toShowOrHide(cell)"></span>
                        <span [innerHTML]="cell.title" style="text-align: left;"></span>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
</nav>