.ngx-smart-pagination-nav {
  float: right;
  padding-top: 10px;
  user-select: none; 
  .pageBox {
    display: inline;
    div {
      display: inline-block;
    }
    .container {
      display: inline-block;
      border: 1px solid #e9ebec;
      width: 3em;
      text-align: center;
      outline: none;
    }
    // .go {
    //   width: 2em;
      // height: 2.063em;
      // text-align: center;
      // position: relative;
      // top: 1px;
      // border: 1px solid #e9ebec;
      // outline-style: none;
    // }
  }
  .ngx-smart-pagination {
    display: inline-flex;
    font-size: .875em;
    padding: 0;
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
    span.page-link {
      color: red;
    }
    .ngx-smart-page-item {
      display: inline;
      border: 1px solid #e9ebec;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

}
